@use 'styles/utils';
@use 'styles/general/variables';

form {
  input, textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 17px 20px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: variables.$clr_subtitle-1;
    background: variables.$clr_grey-inputs;
    border-radius: variables.$border_radius_1;
    border: none;
    outline: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: variables.$clr_subtitle-1;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
  input[type="submit"] {
    margin-top: 30px;
    width: 100%;
  }
}

.form-wrapper {
  form {
    .inputs-container {
      input, textarea {

      }
    }
  }
}