h1.h1 Test Commit 1
h2.h2 Test Commit 1
h3.h3 component-example
h4.h4 I am a component here
h5.h5 I am a component here
h6.h6 I am a component here
button.btn I am a button
a.btn I am button link
input.btn(type="button" value="I am input button")
p What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
ul
    li.icon-icon-add-to-cart-btn
    li.icon-icon-arrow-2
    li.icon-icon-arrow-3
    li.icon-icon-calendar
    li.icon-icon-cart
    li.icon-icon-catalog-arrow
    li.icon-icon-chat
    li.icon-icon-checkout-btn
    li.icon-icon-cursor
    li.icon-icon-games-catalog-link
    li.icon-icon-header-btn
    li.icon-icon-hover-cursor
    li.icon-icon-list-marker
    li.icon-icon-mail
    li.icon-icon-play
    li.icon-icon-play-video
    li.icon-icon-product-banner
    li.icon-icon-product-list-marker
    li.icon-icon-product-range-arrow
    li.icon-icon-product-single-link
    li.icon-icon-rating-star
    li.icon-icon-search
    li.icon-icon-show-more
    li.icon-icon-slider-arrow
    li.icon-icon-support
    li.icon-icon-toggle-back-catalog
    li.icon-icon-toggle-front-catalog
    li.icon-icon-watch
    li.icon-tiktok
    li.icon-telegram
    li.icon-pinterest
    li.icon-google
    li.icon-google-drive
    li.icon-facebook
    li.icon-instagram
    li.icon-twitter
    li.icon-youtube
    li.icon-twitch
    li.icon-steam
