/*$desktop1600: 1600px;
$desktop1400: 1400px;
$desktop1366: 1366px;
$desktop1280: 1280px;
$tablet1200: 1200px;
$tablet1000: 1000px;
$tablet800: 800px;
$mobile600: 600px;
$mobile450: 450px;
$mobile380: 380px;
$mobile340: 340px;*/

$xxs: 400px;
$xs: 480px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xl2: 1279px;
$xxl: 1399px;
$xxl2: 1499px;
$_3xl: 1719px;
$_4xl: 1850px;
